* {
    margin: 0;
    padding: 0;
}

.color-primary {
    background-color: #35b8be;
}

.logo {
    height: 50px;
    width: 50px;
}

.active-color {
    color: #35b8be
}

.light-gray {
    color: #555;
}

.background-color {
    background-color: #f6fbfc;
}

.button {
    width: 210px;
    height: 60px;
    color: white;
    background-color: #35b8be;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

.circle_img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.my-10 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}